<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <style>
      h4{
        width: 100%;
        display: flex;
        justify-content: center;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        gap: 20px;
      }
    </style>
<body>
    <h4>Made with ❤️ by chethan </h4>
</body>
</html>